header, main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(185, 27, 32);
}

button {
    width: 90px;
    background-attachment: fixed;

}

#newlamp {
    display: none;
    
}